.wrap {
  display: flex;
  flex-direction: column;
  background: linear-gradient(top, #0083FF, #fff);
}

.section {
  flex: 1;
  overflow-y: auto;
  padding: 0 .2rem;
  margin-top: .1rem;
}

.mo_orderBox {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 .3rem;
  margin-top: .2rem;
}
